{% extends "layout.html" %}

{% block title %}
    Samsung 
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="my-4">Samsung Products</h1>

        <h2>Phones</h2>
        <div class="product-grid">
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/phones/samsung_galaxy_z_flip5.avif" alt="Galaxy Z Flip5">
                    </div>
                    <div class="product-details">
                        <h3>Galaxy Z Flip5</h3>
                        <p class="product-price">$999</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Galaxy Z Flip5">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/phones/samsung_galaxy_z_fold5.avif" alt="Galaxy Z Fold5">
                    </div>
                    <div class="product-details">
                        <h3>Galaxy Z Fold5</h3>
                        <p class="product-price">$1919</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Galaxy Z Fold5">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/phones/samsung_galaxy_s22.avif" alt="Galaxy S22">
                    </div>
                    <div class="product-details">
                        <h3>Galaxy S22</h3>
                        <p class="product-price">$619</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Galaxy S22">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/phones/samsung_galaxy_a54.avif" alt="Galaxy A54">
                    </div>
                    <div class="product-details">
                        <h3>Galaxy A54</h3>
                        <p class="product-price">$449</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Galaxy A54">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/phones/samsung_galaxy_s23_ultra.avif" alt="Galaxy S23 Ultra">
                    </div>
                    <div class="product-details">
                        <h3>Galaxy S23 Ultra</h3>
                        <p class="product-price">$1619</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Galaxy S23 Ultra">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/phones/samsung_galaxy_s23.avif" alt="Galaxy S23">
                    </div>
                    <div class="product-details">
                        <h3>Galaxy S23</h3>
                        <p class="product-price">$859</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Galaxy S23">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/phones/samsung_galaxy_s23_plus.avif" alt="Galaxy S23+">
                    </div>
                    <div class="product-details">
                        <h3>Galaxy S23+</h3>
                        <p class="product-price">$999</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Galaxy S23+">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
        </div>

        <h2>Headphones</h2>
        <div class="product-grid">
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/headphones/samsung_galaxy_buds_pro.avif" alt="Samsung Galaxy Buds Pro">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Buds Pro</h3>
                        <p class="product-price">$199</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Buds Pro">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/headphones/samsung_galaxy_buds_live.avif" alt="Samsung Galaxy Buds Live">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Buds Live</h3>
                        <p class="product-price">$169</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Buds Live">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/headphones/samsung_galaxy_buds_plus.avif" alt="Samsung Galaxy Buds+">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Buds+</h3>
                        <p class="product-price">$129</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Buds+">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/headphones/samsung_galaxy_buds.avif" alt="Samsung Galaxy Buds">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Buds</h3>
                        <p class="product-price">$99</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Buds">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
        </div>

        <h2>Computers</h2>
        <div class="product-grid">
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/computers/samsung_galaxy_book_pro_360.webp" alt="Samsung Galaxy Book Pro 360">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Book Pro 360</h3>
                        <p class="product-price">$1299</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Book Pro 360">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/computers/samsung_galaxy_book_pro.avif" alt="Samsung Galaxy Book Pro">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Book Pro</h3>
                        <p class="product-price">$1099</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Book Pro">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/computers/samsung_notebook_9_pro.jpg" alt="Samsung Notebook 9 Pro">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Notebook 9 Pro</h3>
                        <p class="product-price">$899</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Notebook 9 Pro">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/computers/samsung_notebook_9.webp" alt="Samsung Notebook 9">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Notebook 9</h3>
                        <p class="product-price">$749</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Notebook 9">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
        </div>

        <h2>Tablets</h2>
        <div class="product-grid">
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/tablets/samsung_galaxy_tab_s7.avif" alt="Samsung Galaxy Tab S7">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Tab S7</h3>
                        <p class="product-price">$649</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Tab S7">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/tablets/samsung_galaxy_tab_s6_lite.webp" alt="Samsung Galaxy Tab S6 Lite">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Tab S6 Lite</h3>
                        <p class="product-price">$349</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Tab S6 Lite">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/tablets/samsung_galaxy_tab_a7.avif" alt="Samsung Galaxy Tab A7">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Tab A7</h3>
                        <p class="product-price">$229</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Tab A7">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/tablets/samsung_galaxy_tab_active3.webp" alt="Samsung Galaxy Tab Active3">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Tab Active3</h3>
                        <p class="product-price">$599</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Tab Active3">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/tablets/samsung_galaxy_tab_active_pro.png" alt="Samsung Galaxy Tab Active Pro">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Tab Active Pro</h3>
                        <p class="product-price">$799</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Tab Active Pro">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
        </div>

        <h2>Smartwatches</h2>
        <div class="product-grid">
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/smartwatches/samsung_galaxy_watch_4.webp" alt="Samsung Galaxy Watch 4">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Watch 4</h3>
                        <p class="product-price">$249</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Watch 4">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/smartwatches/samsung_galaxy_watch_ultra.avif" alt="Samsung Galaxy Watch 4 Classic">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Watch 4 Classic</h3>
                        <p class="product-price">$299</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Watch 4 Classic">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/smartwatches/samsung_galaxy_watch_3.webp" alt="Samsung Galaxy Watch 3">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Watch 3</h3>
                        <p class="product-price">$199</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Watch 3">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
            <form method="POST" action="/samsung">
                <div class="product">
                    <div class="product-image">
                        <img src="static/images/samsung/smartwatches/samsung_galaxy_watch_active2.avif" alt="Samsung Galaxy Watch Active 2">
                    </div>
                    <div class="product-details">
                        <h3>Samsung Galaxy Watch Active 2</h3>
                        <p class="product-price">$149</p>
                    </div>
                    <div class="product-actions">
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="hidden" name="product_name" value="Samsung Galaxy Watch Active 2">
                        <input type="submit" value="Add to Cart">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
